exclude: 'Ë†build'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-ast
    -   id: check-merge-conflict
    -   id: no-commit-to-branch
        args: ['--branch=master']
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: end-of-file-fixer

-   repo: local
    hooks:
    -   id: detect-aws
        name: Detect AWS Credentials
        entry: python3 -m detect_aws_credentials
        language: system

-   repo: local
    hooks:
    -   id: insecure-cors-configuration
        name: Detect Insecure CORS Configuration
        entry: python3 -m detect_insecure_cors_configuration
        language: system

-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
    -   id: insert-license
        files: \.py$
        args:
        - --license-filepath
        - docs/license_header.txt
    -   id: insert-license
        files: \.js$|\.jsx$
        args:
        - --license-filepath
        - docs/license_header.txt
        - --comment-style
        - /*| *| */
-   repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
    -   id: flake8

-   repo: https://github.com/asottile/pyupgrade
    rev: v3.10.1
    hooks:
    -   id: pyupgrade
        args: ['--py36-plus']

-   repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        exclude: ^website

-   repo: https://github.com/ambv/black
    rev: 23.7.0
    hooks:
    - id: black
      language_version: python3

-   repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
    -   id: prettier
        files: \.[jt]sx?$

-   repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    -   id: stylelint
        args: [--fix]
        additional_dependencies:
            - stylelint@13.11.0
            - stylelint-config-standard@20.0.0

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.46.0
    hooks:
    -   id: eslint
        args: [--fix --silent]
        files: \.[jt]sx?$
        types: [file]
        additional_dependencies:
            - eslint@7.21.0
            - eslint-config-react-app
