.center-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-submit-model {
    margin-right: 6%;
    background-color: #f0f2f5 !important;
    border-color: #f0f2f5 !important;
}

.center-submit-model:hover {
    color: white !important;
    background-color: #2088ef !important;
}

.center-submit-model:focus {
    color: #344854 !important;
}

.center-reach-button {
    background-color: #f0f2f5 !important;
    border-color: #f0f2f5 !important;
}

.center-reach-button:focus {
    color: #344854 !important;
}

.center-reach-button:hover {
    color: white !important;
    background-color: #2088ef !important;
}
