/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #344854;
    --ifm-color-primary-dark: #29784c;
    --ifm-color-primary-darker: #277148;
    --ifm-color-primary-darkest: #205d3b;
    --ifm-color-primary-light: #33925d;
    --ifm-color-primary-lighter: #359962;
    --ifm-color-primary-lightest: #3cad6e;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #25c2a0;
    --ifm-color-primary-dark: #21af90;
    --ifm-color-primary-darker: #1fa588;
    --ifm-color-primary-darkest: #1a8870;
    --ifm-color-primary-light: #29d5b0;
    --ifm-color-primary-lighter: #32d8b4;
    --ifm-color-primary-lightest: #4fddbf;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar {
    padding-left: 50px;
    background-color: #ccebd4;
}

.ul-nav {
    margin-bottom: 0;
    padding: 0;
    z-index: 100;
}

.li-nav {
    list-style: none;
    padding: 1rem 1.5rem;
    margin-left: 2;
}

.second-nav-a {
    text-decoration: none;
    white-space: nowrap;
}

.cl-menu li {
    position: relative;
}

.cl-menu li a {
    display: block;
    color: #636669;
    white-space: nowrap;
}

.cl-menu li:hover a {
    color: #636669;
}

.cl-menu li ul {
    position: absolute;
    top: 0;
    left: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: none;
}

.cl-menu li ul li {
    white-space: nowrap;
    background: white;
    border-top: none;
    border-left: none;
    border-right: none;
}

.cl-menu > li:hover {
    background-color: rgba(18, 131, 216, 0.1);
    color: #344854;
}

.cl-menu li:hover > ul {
    display: block;
    color: #344854;
}

.cl-menu li ul li:hover {
    color: #344854;
    cursor: pointer;
}

.cl-menu li ul li:last-child {
    border-bottom: none;
}

.no-chevron a::after {
    display: none;
}
